@model Movie
@*
    To explicitly set the action which the form submits to we can use
    <form method="post" asp-action="Edit"
*@
<div class="border p-3 mt-4">
    <div class="row pb-2">
        <h2 class="text-primary">Movies</h2>
        <hr/>
    </div>

    <table class="table table-bordered table-striped" style="width:100%">
        <thead>
        <tr>
            <td>Movie</td>
            <th>Genre</th>
            <th>Release Date</th>
            <th>Date Added</th>
            <th>Number in Stock</th>
        </tr>
        </thead>
        <tbody>
       
        <td>
            @Model.Name
        </td>
        <td>
            @Model.GenreName
        </td>
        <td>
            @Model.ReleaseDate.ToString("D")
        </td>
        <td>
            @Model.DateAdded.ToString("D")
        </td>
        <td>
            @Model.NumberInStock
        </td>
        </tbody>
    </table>
    
    <a asp-controller="Movies" asp-action="Index" class="btn btn-info" style="width:150px;">
        Back to list
    </a>
</div>